# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\rsschool\react-accordion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
